<!-- <p>
  Copyright &copy; {{ site.time | date: "%Y" }} - {{ site.author }} -
  <span class="credit">Powered by <a href="http://octopress.org">Octopress</a></span>
</p> -->

<div class="footer_box">
	<div class="container clearfix">
		<ul>
			<li><a href="{{ root_url }}/">首&nbsp;&nbsp;页</a></li>
		  	<li><a href="{{ root_url }}/blog">博&nbsp;&nbsp;客</a></li>
		  	<li><a href="{{ root_url }}/blog/archives">博文列表</a></li>
		</ul>
		<div class="copy_right">
			COPYRIGHT &copy; {{ site.title }} 2014
		</div>
	</div>
</div>