    <div id="sliderFrame">
        <div id="slider">
            <a href="http://www.menucool.com/javascript-image-slider" target="_blank">
                <img src="{{ root_url }}/images/slider1.jpg" alt="#cap1" />
            </a>
            <img src="{{ root_url }}/images/slider1.jpg" alt="#cap2" />
            <img src="{{ root_url }}/images/slider2.jpg" alt="#cap3" />
            <img src="{{ root_url }}/images/slider3.jpg" alt="#cap4" />
            <img src="{{ root_url }}/images/slider4.jpg" alt="#cap5" />
        </div>
        <div style="display: none;">
            <div id="cap1">
                欢迎来到 Harole 的个人博客
            </div>
            <div id="cap2">
                该个人博客仅是个人分享，欢迎大家拍砖，给建议！
            </div>
            <div id="cap3">
                个人博文属于原创，望尊重版权，转载请注明原文出处
            </div>
        </div>
    </div>